<a href="https://colab.research.google.com/github/Sandeep5500/kaggle_attempts/blob/main/Titanic_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**0.77751** accuracy with **XGBoost** model on Titanic dataset.
(Random forests attempt included as well)

In [1]:
## Kaggle conf
!pip install kaggle
!mkdir .kaggle
import json
token = {"username":"sandeepkumar00","key":"006083ef889a4c38471af6b2ce139874"}
with open('.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.10)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
mkdir: cannot create directory ‘.kaggle’: File exists

In [2]:
!cp .kaggle/kaggle.json ~/.kaggle/kaggle.json
!kaggle config set -n path -v .
!chmod 600 .kaggle/kaggle.json
!kaggle datasets list
!kaggle competitions download -c titanic

- path is now set to: .
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
ref                                                            title                                               size  lastUpdated          downloadCount
-------------------------------------------------------------  -------------------------------------------------  -----  -------------------  -------------
arashnic/hr-analytics-job-change-of-data-scientists            HR Analytics: Job Change of Data Scientists        295KB  2020-12-07 00:25:10            596
babyoda/access-to-computers-from-home-oecd                     Access to Computers From Home OECD                   3KB  2020-12-04 10:50:09             13
shashwatwork/impact-of-covid19-pandemic-on-the-global-economy  Impact of Covid-19 Pandemic on the Global Economy    1MB  2020-11-29 14:16:30            141
emmanuelleai/world-marathons-majors                            World Marathons Majors                               7KB  2020-12-06 19:24:28             21
mrmorj/dataset-of-songs-in-spotify                             Dataset of songs in Spotify                          3MB  2020-12-06 09:46:55             48
boramalper/scihub-papers                                       Sci-Hub Papers                                       6GB  2020-12-06 04:10:54              2
juicobowley/drake-lyrics                                       Drake Lyrics                                       764KB  2020-11-27 01:00:52             18
kavisekar/oecd-unemployment-rate-2020                          OECD Unemployment rate (2020)                        3KB  2020-12-07 15:37:38             27
kingabzpro/datascience-survey-on-kaggle                        data science survey on Kaggle                      129KB  2020-11-24 19:04:19              9
sakshigoyal7/credit-card-customers                             Credit Card customers                              379KB  2020-11-19 07:38:44          11750
szymonjanowski/internet-articles-data-with-users-engagement    Internet news data with readers engagement           3MB  2020-11-21 17:09:57           3407
sootersaalu/amazon-top-50-bestselling-books-2009-2019          Amazon Top 50 Bestselling Books 2009 - 2019         15KB  2020-10-13 09:39:21          10357
alexgude/california-traffic-collision-data-from-switrs         California Traffic Collision Data from SWITRS        1GB  2020-11-22 16:51:55           2086
babyoda/women-entrepreneurship-and-labor-force                 Women Entrepreneurship and Labor Force               1KB  2020-11-21 08:38:51           5010
shivamb/netflix-shows                                          Netflix Movies and TV Shows                        971KB  2020-01-20 07:33:56          76419
yamaerenay/spotify-dataset-19212020-160k-tracks                Spotify Dataset 1921-2020, 160k+ Tracks             16MB  2020-11-25 21:14:12          12895
patrickb1912/ipl-complete-dataset-20082020                     IPL Complete Dataset (2008-2020)                     1MB  2020-11-23 06:53:37           2624
manchunhui/us-election-2020-tweets                             US Election 2020 Tweets                            353MB  2020-11-09 18:51:59           5371
imoore/2020-us-general-election-turnout-rates                  2020 US General Election Turnout rates               4KB  2020-11-26 00:21:15           3571
google/tinyquickdraw                                           QuickDraw Sketches                                  11GB  2018-04-18 19:38:04           2649
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
test.csv: Skipping, found more recently modified local copy (use --force to force download)
gender_submission.csv: Skipping, found more recently modified local copy (use --force to force download)
train.csv: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
import pandas as pd
import numpy as np

train = pd.read_csv('/content/competitions/titanic/train.csv', header=0)
test = pd.read_csv('/content/competitions/titanic/test.csv', header=0)

In [54]:
print(train)
print(test)
final_train_y = train["Survived"]

     PassengerId  Survived  Pclass  ... Cabin Embarked  Married Woman
0              1         0       3  ...   NaN        S              0
1              2         1       1  ...   C85        C              1
2              3         1       3  ...   NaN        S              0
3              4         1       1  ...  C123        S              1
4              5         0       3  ...   NaN        S              0
..           ...       ...     ...  ...   ...      ...            ...
886          887         0       2  ...   NaN        S              0
887          888         1       1  ...   B42        S              0
888          889         0       3  ...   NaN        S              1
889          890         1       1  ...  C148        C              0
890          891         0       3  ...   NaN        Q              0

[891 rows x 13 columns]
     PassengerId  Pclass  ... Embarked Married Woman
0            892       3  ...        Q             0
1            893       3  ...        S             1
2            894       2  ...        Q             0
3            895       3  ...        S             0
4            896       3  ...        S             1
..           ...     ...  ...      ...           ...
413         1305       3  ...        S             0
414         1306       1  ...        C             0
415         1307       3  ...        S             0
416         1308       3  ...        S             0
417         1309       3  ...        C             0

[418 rows x 12 columns]

In [56]:
train["Married Woman"] = np.where(train["Name"].str.len() >30, 1, 0)
test["Married Woman"] = np.where(test["Name"].str.len() >30, 1, 0)

In [57]:
cols_of_interest1 = ["Pclass","Sex", "Age", "Embarked","Fare","Married Woman"]
cols_of_interest2 = ["Pclass","Sex","Age","Embarked","Fare","Married Woman"]
cor_train = train.loc[:,cols_of_interest1]
print(cor_train)
cor_test = test.loc[:,cols_of_interest2]
print(cor_test)

total = cor_train.append(cor_test)
print(total)

     Pclass     Sex   Age Embarked     Fare  Married Woman
0         3    male  22.0        S   7.2500              0
1         1  female  38.0        C  71.2833              1
2         3  female  26.0        S   7.9250              0
3         1  female  35.0        S  53.1000              1
4         3    male  35.0        S   8.0500              0
..      ...     ...   ...      ...      ...            ...
886       2    male  27.0        S  13.0000              0
887       1  female  19.0        S  30.0000              0
888       3  female   NaN        S  23.4500              1
889       1    male  26.0        C  30.0000              0
890       3    male  32.0        Q   7.7500              0

[891 rows x 6 columns]
     Pclass     Sex   Age Embarked      Fare  Married Woman
0         3    male  34.5        Q    7.8292              0
1         3  female  47.0        S    7.0000              1
2         2    male  62.0        Q    9.6875              0
3         3    male  27.0        S    8.6625              0
4         3  female  22.0        S   12.2875              1
..      ...     ...   ...      ...       ...            ...
413       3    male   NaN        S    8.0500              0
414       1  female  39.0        C  108.9000              0
415       3    male  38.5        S    7.2500              0
416       3    male   NaN        S    8.0500              0
417       3    male   NaN        C   22.3583              0

[418 rows x 6 columns]
     Pclass     Sex   Age Embarked      Fare  Married Woman
0         3    male  22.0        S    7.2500              0
1         1  female  38.0        C   71.2833              1
2         3  female  26.0        S    7.9250              0
3         1  female  35.0        S   53.1000              1
4         3    male  35.0        S    8.0500              0
..      ...     ...   ...      ...       ...            ...
413       3    male   NaN        S    8.0500              0
414       1  female  39.0        C  108.9000              0
415       3    male  38.5        S    7.2500              0
416       3    male   NaN        S    8.0500              0
417       3    male   NaN        C   22.3583              0

[1309 rows x 6 columns]

In [58]:
total.isnull().sum()

Pclass             0
Sex                0
Age              263
Embarked           2
Fare               1
Married Woman      0
dtype: int64

In [59]:
total_imp = total

avg_age = total['Age'].mean()
total_imp["Age"].fillna(avg_age,inplace=True)
total_imp["Fare"].fillna(total['Fare'].mean(),inplace=True)

mode_cols = ["Embarked"]
total_imp[mode_cols]=total_imp[mode_cols].fillna(total_imp.mode().iloc[0])

In [61]:
total.isnull().sum()

Pclass           0
Sex              0
Age              0
Embarked         0
Fare             0
Married Woman    0
dtype: int64

In [62]:
onehot_cols = ["Pclass","Sex", "Embarked"]
print(onehot_cols)
total_oh_df = pd.get_dummies(total_imp, columns=onehot_cols)
print(total_oh_df)
print(total_oh_df.columns)

['Pclass', 'Sex', 'Embarked']
           Age      Fare  Married Woman  ...  Embarked_C  Embarked_Q  Embarked_S
0    22.000000    7.2500              0  ...           0           0           1
1    38.000000   71.2833              1  ...           1           0           0
2    26.000000    7.9250              0  ...           0           0           1
3    35.000000   53.1000              1  ...           0           0           1
4    35.000000    8.0500              0  ...           0           0           1
..         ...       ...            ...  ...         ...         ...         ...
413  29.881138    8.0500              0  ...           0           0           1
414  39.000000  108.9000              0  ...           1           0           0
415  38.500000    7.2500              0  ...           0           0           1
416  29.881138    8.0500              0  ...           0           0           1
417  29.881138   22.3583              0  ...           1           0           0

[1309 rows x 11 columns]
Index(['Age', 'Fare', 'Married Woman', 'Pclass_1', 'Pclass_2', 'Pclass_3',
       'Sex_female', 'Sex_male', 'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [63]:
final_train_x = total_oh_df.iloc[:891]
final_test_x = total_oh_df.iloc[891:]
print(final_train_x)
print(final_test_x)

           Age     Fare  Married Woman  ...  Embarked_C  Embarked_Q  Embarked_S
0    22.000000   7.2500              0  ...           0           0           1
1    38.000000  71.2833              1  ...           1           0           0
2    26.000000   7.9250              0  ...           0           0           1
3    35.000000  53.1000              1  ...           0           0           1
4    35.000000   8.0500              0  ...           0           0           1
..         ...      ...            ...  ...         ...         ...         ...
886  27.000000  13.0000              0  ...           0           0           1
887  19.000000  30.0000              0  ...           0           0           1
888  29.881138  23.4500              1  ...           0           0           1
889  26.000000  30.0000              0  ...           1           0           0
890  32.000000   7.7500              0  ...           0           1           0

[891 rows x 11 columns]
           Age      Fare  Married Woman  ...  Embarked_C  Embarked_Q  Embarked_S
0    34.500000    7.8292              0  ...           0           1           0
1    47.000000    7.0000              1  ...           0           0           1
2    62.000000    9.6875              0  ...           0           1           0
3    27.000000    8.6625              0  ...           0           0           1
4    22.000000   12.2875              1  ...           0           0           1
..         ...       ...            ...  ...         ...         ...         ...
413  29.881138    8.0500              0  ...           0           0           1
414  39.000000  108.9000              0  ...           1           0           0
415  38.500000    7.2500              0  ...           0           0           1
416  29.881138    8.0500              0  ...           0           0           1
417  29.881138   22.3583              0  ...           1           0           0

[418 rows x 11 columns]

In [64]:
import xgboost as xgb

In [65]:
gbm = xgb.XGBClassifier(objective="binary:logistic", random_state=0, learning_rate=0.05, max_depth = 9, n_estimators= 500, reg_alpha= 0.5, reg_lambda= 0.5,colsample_bytree=0.4)

gbm.fit(final_train_x, final_train_y)
predictions = gbm.predict(final_test_x)

# Dump predictions into csv file
submission = pd.DataFrame({ 'PassengerId': test["PassengerId"],
                            'Survived': predictions })
submission.to_csv("submission.csv", index=False)

**Submission Comparer**

In [52]:
sub1 = pd.read_csv('/content/submission4.csv', header=0)
sub2 = pd.read_csv('/content/submission.csv', header=0)
n_diff = 0
for ind in sub1.index: 
     if sub1['Survived'][ind] != sub2['Survived'][ind]:
         n_diff+=1
         print(sub1['PassengerId'][ind])
print("Total Diff: ",n_diff)

898
910
926
927
946
964
965
982
986
1010
1028
1049
1051
1063
1098
1141
1198
1205
1210
1261
1271
1274
1309
Total Diff:  23

In [151]:
import sklearn
from sklearn.model_selection import GridSearchCV

gbm2 = xgb.XGBClassifier(objective="binary:logistic", random_state=0, learning_rate = 0.05)
params = {
        "n_estimators": [500, 700, 1000],
        "max_depth": [ 7, 9, 11],
        "reg_alpha": [0.3, 0.5, 0.7],
        "reg_lambda": [0.3, 0.5, 0.8],
        "colsample_bytree": [0.4, 0.7, 1]
    }
grid = GridSearchCV(gbm2, params, refit = True, verbose = 1,cv =4, n_jobs=-1) 
   
# fitting the model for grid search 
grid.fit(final_train_x, final_train_y) 
 
# print best parameter after tuning 
print(grid.best_params_)

Fitting 4 folds for each of 243 candidates, totalling 972 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:   11.5s
[Parallel(n_jobs=-1)]: Done 196 tasks      | elapsed:   58.2s
[Parallel(n_jobs=-1)]: Done 446 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done 796 tasks      | elapsed:  4.8min
[Parallel(n_jobs=-1)]: Done 972 out of 972 | elapsed:  6.3min finished

{'colsample_bytree': 0.4, 'max_depth': 9, 'n_estimators': 500, 'reg_alpha': 0.5, 'reg_lambda': 0.5}

In [156]:
print(grid.best_score_)
grid_predictions = grid.predict(final_test_x) 
# Dump predictions into csv file
submission = pd.DataFrame({ 'PassengerId': test["PassengerId"],
                            'Survived': grid_predictions })
submission.to_csv("submission2.csv", index=False)

0.8361410738092352

**Random Forests**

In [41]:
from sklearn.ensemble import RandomForestClassifier

regmodel = RandomForestClassifier(n_estimators=20, random_state=0)
regmodel.fit(final_train_x, final_train_y)
regpredictions = regmodel.predict(final_test_x)

In [66]:
# Dump predictions into csv file
submission = pd.DataFrame({ 'PassengerId': test["PassengerId"],
                            'Survived': regpredictions })
submission.to_csv("submission3.csv", index=False)

In [68]:
from sklearn.model_selection import RandomizedSearchCV
rf = RandomForestClassifier( random_state=0)
random_grid = {
'bootstrap': [True, False],
 'max_depth': [10, 40, 70, 100, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 600, 800, 1400]}

rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, n_jobs = -1)
# Fit the random search model
rf_random.fit(final_train_x, final_train_y)
regrandpredictions = rf_random.predict(final_test_x)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   28.9s
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:  4.5min finished

In [70]:
print(rf_random.best_score_)
print(rf_random.best_params_)
submission = pd.DataFrame({ 'PassengerId': test["PassengerId"],
                            'Survived': regrandpredictions })
submission.to_csv("submission4.csv", index=False)

0.8271604938271605
{'n_estimators': 600, 'min_samples_split': 5, 'min_samples_leaf': 4, 'max_features': 'auto', 'max_depth': 10, 'bootstrap': False}